
<div class="banner">
  <h1>Editer un anniversaire</h1>
</div>


<div class="container">

<%= render 'form', anniv: @anniv %>

<div class="bouton"><%= link_to 'Afficher', @anniv %></div> |
<div class="bouton"><%= link_to 'Retour', annivs_path %></div>
 </div>
